input[type="text"] {
  --padding: 0.75rem;

  padding: var(--padding);
  border-radius: calc(
      var(--font-size) + var(--padding)
  );
  border: 2px solid transparent;

  color: var(--fg-input);
  background-color: var(--bg-input);

  font-size: var(--font-size);
  font-family: "Fira sans", sans-serif;

  transition: border-color 250ms ease-in-out;
}

input[type="text"]:focus {
  outline: none;

  border-color: var(--hi-primary);
}

input.has-icon {
  background-repeat: no-repeat;
  background-size: calc(
    var(--font-size) + var(--padding)
  );
  background-position: var(--padding) 50%;
  padding-left: calc(
    2 * var(--font-size) + var(--padding)
  );
}

input.icon-username {
  background-image: url("../images/user-icon.svg");
}

a {
  text-decoration: none;
  color: var(--hi-primary);
}

a.small {
  font-size: var(--font-size-small);
}

a.button {
  --padding: 0.75rem;

  padding: var(--padding);
  border-radius: calc(
    var(--font-size) + var(--padding)
  );

  background: var(--hi-gradient);
  color: var(--bg-color);

  font-size: var(--font-size);
  text-align: center;
  text-transform: uppercase;

  transition: box-shadow 100ms ease-in-out;
}

label {
  font-size: var(--font-size-small);
  text-align: center;
}

a.button:hover {
  box-shadow: 0 2px 6px 0 var(--shadow);
}

a.button:active {
  box-shadow: none;
}
